@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');

:root {
    --font-family: 'Comfortaa', sans-serif !important;
}

.App {
    background: linear-gradient(90deg, rgba(31,41,55,1) 0%, rgba(17,24,39,1) 35%, rgba(255,255,255,0.03) 100%);
    font-family: var(--font-family);
    display: grid;
    grid-template-rows: min-content;
    min-height: 100vh;
    overflow-x: hidden;
}